@import "Color";

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: $color-tertiary;
    margin: 0;
    padding-top: 55px;
    overflow-y: scroll;
  }

  a {
    color: $color-font;
    text-decoration: none;
  }

  .view {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }

  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: all 0.2s ease;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0;
  }

  @media (max-width: 860px) {
    .header .inner {
      padding: 15px 30px;
    }
  }

  @media (max-width: 600px) {
    .header .inner {
      padding: 15px;
    }

    .header a {
      margin-right: 1em;
    }

    .header .github {
      display: none;
    }
  }
